<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    
     <bean id="Application" class="com.vmware.horizontoolset.Application" scope="singleton"> 
            <!-- Allow 10 concurrent admin UI sessions, the 11st user kicks off the 1st user  -->
            <property name="maximumSessions"> 
            <value>10</value> 
            </property>


    </bean> 
    
    <bean id="loginFilter" class="com.vmware.horizontoolset.LoginFilter"> 
    	<property name="allows">
    		<array>
    			<value>.js</value>
    			<value>.css</value>
    			<value>.png</value>
    			<value>.gif</value>
    			<value>.html</value>
    			<value>.woff</value>
    			<value>/Login</value>
    			<value>/remoteassist/upload</value>
    			<value>/deviceFilter/check</value>
    			<value>/limit/refresh</value>
    			<value>/about</value>
    		</array>
    	</property>
     </bean> 
  
</beans>