<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    
     <bean id="Application" class="com.vmware.horizontoolset.Application" scope="singleton"> 
             <property name="server"> 
            <value>127.0.0.1</value>
            </property> 
            
            <!-- Allow 30 concurrent sessions, the 31st user kicks off the 1st user  -->
            <property name="maximumSessions"> 
            <value>3</value> 
            </property>


    </bean> 
    
    <bean id="loginFilter" class="com.vmware.horizontoolset.LoginFilter"> 
    	<property name="allows">
    		<array>
    			<value>.js</value>
    			<value>.css</value>
    			<value>.png</value>
    			<value>.gif</value>
    			<value>.html</value>
    			<value>/Login</value>
    		</array>
    	</property>
     </bean> 
  
</beans>