<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" 
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/task  
						   http://www.springframework.org/schema/task/spring-task-3.1.xsd">
 	
	<task:annotation-driven/>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

        <mvc:default-servlet-handler />    
        
         <bean id="conversionService"      class="org.springframework.context.support.ConversionServiceFactoryBean"/>
  
    
  		<mvc:annotation-driven conversion-service="conversionService" />
  		
  <bean id="templateResolver"
        class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
    <property name="prefix" value="/WEB-INF/templates/" />
    <property name="suffix" value=".html" />
    <property name="templateMode" value="HTML5" />
    <property name="cacheable" value="true" />
  </bean>
    
  <bean id="templateEngine"
        class="org.thymeleaf.spring4.SpringTemplateEngine">
    <property name="templateResolver" ref="templateResolver" />
  </bean>
   
  <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
    <property name="templateEngine" ref="templateEngine" />
  </bean>   
  
  <bean id="loginController" class="com.vmware.horizontoolset.LoginController" scope="session"/>
<bean id="logoutController" class="com.vmware.horizontoolset.LogoutController"/>
  
 
  <bean id="sessionController" class="com.vmware.horizontoolset.SessionController"/>
  
  <bean id="sessionRestController" class="com.vmware.horizontoolset.SessionRestController"/>
  

  
  <bean id="usageController" class="com.vmware.horizontoolset.UsageController"/>
    <bean id="usageRestController" class="com.vmware.horizontoolset.UsageRestController"/>
  
  
   <bean id="clientController" class="com.vmware.horizontoolset.ClientController"/>
   <bean id="clientrestController" class="com.vmware.horizontoolset.ClientRestController"/>
   
   <bean id="snapShotController" class="com.vmware.horizontoolset.SnapShotController" />
   <bean id="snapRestController" class="com.vmware.horizontoolset.SnapShotRestController"/>
 
    <bean id="remoteAssistController" class="com.vmware.horizontoolset.RemoteAssistantController"/>
    <bean id="policyController" class="com.vmware.horizontoolset.PolicyController"/>
  
   
  <!-- Execute once a day on 1:00 am , Seconds Minutes Hours DayofMonth Month DayofWeek -->
   <task:scheduled-tasks>   
        <task:scheduled ref="clientrestController" method="updateCachedReport" cron="0 0 1 * * ?"/>   
   </task:scheduled-tasks>  
   
</beans>