<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:task="http://www.springframework.org/schema/task" 
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/websocket
                           http://www.springframework.org/schema/websocket/spring-websocket.xsd
                           http://www.springframework.org/schema/task  
						   http://www.springframework.org/schema/task/spring-task-3.1.xsd">
 	
	<task:annotation-driven/>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

        <mvc:default-servlet-handler />    
        
         <bean id="conversionService"      class="org.springframework.context.support.ConversionServiceFactoryBean"/>
  
    
  		<mvc:annotation-driven conversion-service="conversionService" />
  		
  <bean id="templateResolver"
        class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
    <property name="prefix" value="/WEB-INF/templates/" />
    <property name="suffix" value=".html" />
    <property name="templateMode" value="HTML5" />
    <property name="cacheable" value="true" />
  </bean>
    
  <bean id="templateEngine"
        class="org.thymeleaf.spring4.SpringTemplateEngine">
    <property name="templateResolver" ref="templateResolver" />
  </bean>
   
  <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
    <property name="templateEngine" ref="templateEngine" />
  </bean>   
  <bean id="loginController" class="com.vmware.horizontoolset.LoginController">
   <property name="server"> 
            <value>localhost</value>
            </property> 
            
            <!-- please make sure this is false when publishing -->
            <property name="remoteDebug">
            	<value>false</value>
            </property>
            <property name="matchedVersions">
            	<array>
            		<value>6.0</value>            		
            		<value>6.1</value>
            		<value>6.2</value>
            		<value>6.3</value>
            	</array>
            </property>
  </bean>
<bean id="logoutController" class="com.vmware.horizontoolset.LogoutController"/>
  <bean id="CommonRestController" class="com.vmware.horizontoolset.CommonRestController"/>
 
  <bean id="sessionController" class="com.vmware.horizontoolset.SessionController"/>

  <bean id="sessionRestController" class="com.vmware.horizontoolset.SessionRestController"/>
  

  
  <bean id="usageController" class="com.vmware.horizontoolset.UsageController"/>
    <bean id="usageRestController" class="com.vmware.horizontoolset.UsageRestController"/>
  
  
   <bean id="clientController" class="com.vmware.horizontoolset.ClientController"/>
   <bean id="clientrestController" class="com.vmware.horizontoolset.ClientRestController"/>
   
   <bean id="snapShotController" class="com.vmware.horizontoolset.SnapShotController" />
   <bean id="snapRestController" class="com.vmware.horizontoolset.SnapShotRestController"/>
 
   <bean id="remoteAssistController" class="com.vmware.horizontoolset.ra.RemoteAssistController"/>
   <bean id="remoteAssistRestController" class="com.vmware.horizontoolset.ra.RemoteAssistRestController"/>
      <!-- 
   <bean id="deviceFilterController" class="com.vmware.horizontoolset.device.controller.DeviceFilterController"/>
   <bean id="deviceFilterRestController" class="com.vmware.horizontoolset.device.controller.DeviceFilterRestController"/>

   <bean id="policyController" class="com.vmware.horizontoolset.PolicyController"/>
 -->
   <bean id="SessionMsgRestController" class="com.vmware.horizontoolset.SessionMsgRestController"/>
   <!--  
   <bean id="EmailController" class="com.vmware.horizontoolset.email.EmailController"/>
   
   <bean id="limitController" class="com.vmware.horizontoolset.limit.LimitController"/>
   <bean id="limitRestController" class="com.vmware.horizontoolset.limit.LimitRestController"/>

   
   <bean id="PowerController" class="com.vmware.horizontoolset.power.PowerController"/>
   
    -->
   
   <bean id="EmailController" class="com.vmware.horizontoolset.email.EmailController"/>
   
   <bean id="limitController" class="com.vmware.horizontoolset.limit.LimitController"/>
   <bean id="limitRestController" class="com.vmware.horizontoolset.limit.LimitRestController"/>

   
   <bean id="infoRestController" class="com.vmware.horizontoolset.ProductInfoRestController"/>
   
   <!-- 
   <bean id="PolicyRestNewController" class="com.vmware.horizontoolset.policy.PolicyRestController"/>
    -->

   
      <bean id="ConsoleController" class="com.vmware.horizontoolset.console.ConsoleController"/>
   
      <bean id="ConsoleRestController" class="com.vmware.horizontoolset.console.ConsoleRestController"/>
    <bean id="WebMKSController" class="com.vmware.horizontoolset.console.WebMKSController" />
       <bean id="PowerController" class="com.vmware.horizontoolset.power.PowerController" />
       <bean id="PowerRestController" class="com.vmware.horizontoolset.power.PowerRestController" />
   	<bean id="PowerScheduleRestController" class="com.vmware.horizontoolset.power.PowerScheduleRestController" />
   	
    <bean id="EventCache" class="com.vmware.horizon.auditing.db.EventDBCache" />
   
   
  <!-- Execute once a day on 1:00 am , Seconds Minutes Hours DayofMonth Month DayofWeek -->
   <task:scheduled-tasks>   
   		<task:scheduled ref="clientrestController" method="updateCachedReport" cron="0 0 1 * * ?"/>  
   
        <task:scheduled ref="EventCache" method="updateCache" cron="0 0 * * * ?"/>   
        
       <!--   <task:scheduled ref="limitRestController" method="refresh" cron="0 30 * * * ?"/> -->
   </task:scheduled-tasks>  
   
   <websocket:handlers>
        <websocket:mapping path="/wsproxy" handler="proxyHandler"/>
          <websocket:handshake-interceptors>
            <bean class="com.vmware.horizontoolset.wsproxy.Interceptor"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>

	<bean id="rewriter" class="com.vmware.horizontoolset.wsproxy.SimpleRewriter"/>

    <bean id="proxyHandler" class="com.vmware.horizontoolset.wsproxy.ClientProxyHandler">
      <property name="config" ref="rewriter"/>
    </bean>
    
   
</beans>