body {
	font: 75% "Trebuchet MS", sans-serif;
}

#helpFilter {
	margin: 0 20% 0 23%;
	min-height: 100%;
	padding-top:40px;
}

th {
	background-color: #eceff2;
}

table {
	font: 100% "Trebuchet MS", sans-serif;
}

table, th, td {
	border: none;
	border-spacing: 0px 0px;
}

th, td {
	padding: 3px;
}

.tr_even {
	background-color: #eceff2;
}

.start_icon {
	vertical-align: text-bottom;
	border: none;
	outline: none
}

a {
	text-decoration: none;
}

h3.pageHeader {
	font-size: 16px
}

.jtable-column-header-text {
	font-size: 12px
}

.jtable-title-text {
	font-size: 12px
}

th.jtable-column-header {
	height: 20px
}

tr.jtable-data-row {
	font-size: 13px
}

tr.jtable-no-data-row {
	font-size: 13px
}

.jtable-my-add-action {
	background: url("./jtable/themes/jqueryui/plus_16.png") no-repeat scroll
		0 0 rgba(0, 0, 0, 0);
	height: 16px;
	width: 16px;
	border: medium none;
	cursor: pointer;
	display: inline;
	margin: 0;
	padding: 0;
}

.selectable .ui-selecting {
	background: #aFdaeb;
}

.selectable .ui-selected {
	background: #aed0ea;
	color: white;
}

.selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.selectable li {
	margin: 3px;
	padding: 0.4em;
	height: 18px;
}