<html>
<head>
<meta charset="ISO-8859-1" />
<link href="css/report.css" rel="stylesheet" />

<link href="css/cupertino/jquery-ui.custom.min.css" rel="stylesheet" />
<title>Device Access Policies</title>
</head>
<body>
	<div id="devicefilter" th:fragment="fragment">

		<style type="text/css">
.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 10;
}

#policyDialog {
    width: 70%;
	height: 75%;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 10%;
	left: 40%;
	margin-left: -30%;
	text-align: center;
}

#policyDialog .close {
	width: 36px;
	height: 36px;
	background: url('./img/close.png');
	position: absolute;
	top: -18px;
	right: -18px;
	cursor: pointer;
}




#policyDialog table {
	border: none;
	margin: 10px;
}

#policyDialog table td {
	margin: 10px;
	padding: 10px;
	border: none;
}


.button-holder button {
	margin: 10px;
	font-size: 20px;
	background-color: #82cddd;
}


</style>
		<h3 class="pageHeader">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
							<div class="pageHeaderDiv">
								<img src="./img/window_information.png" alt="Dashboard" />
								&nbsp;&nbsp; {{'Device Access Policies'|i18n}}&nbsp;
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</h3>

		<div ng-controller="devicefilterCtrl">
			<div class="scrollarea list"
				style="width: 100%; height: auto !important; height: 350px; min-height: 350px">


				<table id="forQaVmsTable" class="dataTable searchResultsTable"
					cellspacing="0">
					<thead>
						<tr>
							<th class="sorted order1" id="poolname" style="width: 30%;">{{'PoolName'|i18n}}</th>
							<th style="width: 70%;">{{'Device Access Policy'|i18n}}</th>
						</tr>
					</thead>
					<tbody>
						<tr id="loading" class="loadingrow">
							<td class="alarm"></td>
							<td class="alarm"></td>
						</tr>
						<tr ng-repeat="p in dapolicies">
							<td><div>{{p.poolName}}</div></td>
							<td>
								<div>
									<a class="policyitem" ng-click="editPolicy(p)">{{p.text}}</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
			<p>{{'Blocked History:'|i18n}}</p>
			</div>
			<div class="scrollarea list"
				style="width: 100%; height: auto !important; height: 350px; min-height: 350px">


				<table class="dataTable searchResultsTable" cellspacing="0">
					<thead>
						<tr>
							<th class="sorted order1" id="poolname" style="width: 20%;">{{'Pool Name'|i18n}}</th>
							<th style="width: 20%;">{{'Time'|i18n}}</th>							
							<th style="width: 20%;">{{'Device IP'|i18n}}</th>
							<th style="width: 20%;">{{'Device MAC'|i18n}}</th>
							<th style="width: 20%;">{{'Device OS'|i18n}}</th>
						</tr>
					</thead>
					<tbody>
						<tr id="loading" class="loadingresultrow">
							<td class="alarm"></td>
							<td class="alarm"></td>
							<td class="alarm"></td>
							<td class="alarm"></td>
							<td class="alarm"></td>
						</tr>
						<tr ng-repeat="r in history">
							<td><div>{{r.poolName}}</div></td>

							<td>{{r.time}}</td>
							<td>{{r.ip}}</td>
							<td>{{r.mac}}</td>
							<td>{{r.os}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="overlay" id="policyDialog">
				<div
					style="text-align: center; background-color: lightblue; font-size: 25px; height: 35px">
					{{'Access Policy for desktop:'|i18n}}<span id="desktopName"></span>
				</div>
				
				<!-- XU YUE MODIFIED ON 20160128 -->
				<div id = "policyCategoryArea" style="font-size: 20px; margin: 10px">
					
					
					<input type = "radio" name = "PolicyCategory" value = "black" ng-model = "isBlack" />
					<span>Forbidden list </span>

					<input style="margin-left:20px" type = "radio" name = "PolicyCategory" value = "white" ng-model = "isBlack" />
					<span>Allowed list </span>
					
				</div>
				
				<div>
					<span style="font-size: 15px">You can set more than 1 filters for your policy. The connection is forbidden (or allowed) if any one of the filters is matched. </span>
				</div>
				<div style="text-align: left; margin: 10px;">
				<a href="#" style="font-size: 18px" ng-click = "createPolicyItem()" >
				<img src="img/add.png" style=" height: 20px;" alt="+"/>
				Add a filter </a>
				</div>
				
				
				<!-- XU YUE MODIFIED ON 20160125 -->
				<div id = "policyTableArea"  class="scrollarea list" style="height: 60%">
					<table id = "policyTable">
						<tbody>
						<tr>
							   <th style="width: 28%">Policy Type</th>
								<th style="width: 18%"></th>
								<th style="width: 28%">Policy Value</th>
								<th style="width: 18%"></th>
							
						</tr>

						<tr ng-repeat = "d in policytabledata track by $index">
							<td>
								<select style="width:90%" ng-model = "d.type">
									<option value = "IP_Address">IP</option>
									<option value = "MAC_Address">MAC</option>
									<option value = "Type">OS</option>
								</select>
							</td>
							<td>
							<!-- Grep PART FOR FURTHER DEVELOPMENT -->
								<select  style="width:90%" ng-model = "d.grep">
									<option value = "MATCHES">MATCHES</option>
									<option disabled="disabled" value = "CONTAINS">CONTAINS</option>
									<option disabled="disabled" value = "NCONTAINS">NOT CONTAINS</option>
								</select>
							</td>
							<td>
								<input  style="width:90%" type = "text" ng-model = "d.reg"/>
							</td>
							<td>
								<a href="#" style="font-size: 18px" ng-click = "removeCurrentPolicy($index)" >
									<img src="img/close.png" style=" height: 20px;" alt="-"/>
								 </a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>


				<div>
					<div class="button-holder">
						<!-- <button id="setPolicy">{{'Set'|i18n}}</button> -->
						<!-- <button id="removePolicy">{{'Delete this policy'|i18n}}</button> -->
						
						<button type = "button" id = "setPolicy" ng-click = "setPolicy()">{{'set'|i18n}}</button>
						
					</div>
				</div>
				<a class="close"></a>
			</div>
		</div>





		<script src="./jtable/jquery.jtable.min.js"></script>
		<script src="./js/devicefilter.js"></script>
	</div>
</body>
</html>