<html>
<head>
<title>View SnapShot Report</title>

</head>
<body>

	<div id="event" th:fragment="fragment">
		<h3 class="pageHeader">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
							<div class="pageHeaderDiv">
								<img src="img/window_information.png" alt="Dashboard" />&nbsp;&nbsp;Usage
								Report for Users &nbsp;  

							</div>
						</td>
						<td id="loadingAnim"></td>
					</tr>
				</tbody>
			</table>
		</h3>
		Account Name: <input type="text" id= "user" name="user"/>
        <input type="button" id="submitBtn" />
		<br/>
		<br/>
		<table boder="1"></table>
        <tr>
        <td>usageTime</td>
        <td>disconnectionTime</td>
        <td>connectionTime</td>
        </tr>
	</div>
<!-- <script type="text/javascript" charset="utf-8"
		src="./js/event.js"></script> -->
</body>
</html>