<html>
<head>
<title>Remote Assistance</title>
<link href="css/report.css" rel="stylesheet" />
<link href="css/cupertino/jquery-ui.custom.min.css" rel="stylesheet" />
</head>

<body>

	<div id="deviceFilter" th:fragment="fragment">

		
		<link href="./css/cupertino/jquery-ui.custom.min.css" rel="stylesheet" />
		<link href="./css/tweak.css" rel="stylesheet" />
		
		<h3 class="pageHeader">
			<div class="pageHeaderDiv">
								<img src="./img/window_information.png" alt="Dashboard" />
								&nbsp;&nbsp; {{'Remote Assistance'|i18n}}&nbsp; 
			</div>
		</h3>
		
		<p>
		</p>
		
		<br/>
		
		
		<p><b>{{'List of Remote Assistance Requests'|i18n}}</b></p>
		

		<table class='lite_table'>
			<thead><tr><th>{{'Request Time'|i18n}}</th><th>{{'User'|i18n}}</th><th>{{'Machine Name'|i18n}}</th><th>{{'OS Version'|i18n}}</th><th>{{'Status'|i18n}}</th><th>{{'Action'|i18n}}</th></tr></thead>
			<tbody id='ra_table'>
				<tr><td class='loading_place_holder' colspan="10"></td></tr>
			</tbody>
			<tfoot></tfoot>
		</table>

		<br/><br/>
		{{'Note'|i18n}}:
		<ul>
			<li><i>{{'Normally remote assistance request is timeout in a few minutes to 1 hour, according to your system setting'|i18n}}.</i></li>
			<li><i>{{'Remote assistance request history will be kept for some time and deleted automatically'|i18n}}.</i></li>
		</ul>
				
				
		<p>
		{{'To setup the entire environment, refer to'|i18n}} <a href="./static/ra/help.html" target="_blank">{{'Setup Guide'|i18n}}</a>.<br/>
		</p>
		
		<script src="./js/remoteassist.js"></script>

	</div>
	

</body>
</html>