<html>
<head>
<title>Remote Assistance</title>
<link href="css/report.css" rel="stylesheet" />
<link href="css/cupertino/jquery-ui.custom.min.css" rel="stylesheet" />
   <style>
	  #raprogressbar .ui-progressbar-value {
		background-color: #ccc;
	  }
  </style>
</head>

<body>

	<div id="deviceFilter" th:fragment="fragment">

		
		<link href="./css/cupertino/jquery-ui.custom.min.css" rel="stylesheet" />
		<link href="./css/tweak.css" rel="stylesheet" />
		
		<h3 class="pageHeader">
			<div class="pageHeaderDiv">
								<img src="./img/window_information.png" alt="Dashboard" />
								&nbsp;&nbsp; {{'Remote Assistance'|i18n}}&nbsp; 
			</div>
		</h3>
		
		<p>
		</p>
		
		<br/>
		
		<div id="ratabs">
				<p>
				</p>
		  <ul>
			<li><a href="#shadowra"><span>{{'Remote Assistance'|i18n}}</span></a></li>
			<li><a href="#unsolicitedrahist"><span>{{'Remote Assistance history'|i18n}}</span></a></li>
			<li><a href="#listra"><span>{{'Remote Assistance Requests'|i18n}}</span></a></li>
		  </ul>
		  <div id="listra">
			<table class='lite_table'>
				<thead><tr><th>{{'Request Time'|i18n}}</th><th>{{'User'|i18n}}</th><th>{{'Machine Name'|i18n}}</th><th>{{'OS Version'|i18n}}</th><th>{{'Status'|i18n}}</th><th>{{'Action'|i18n}}</th></tr></thead>
				<tbody id='ra_table'>
					<tr><td class='loading_place_holder' colspan="10"></td></tr>
				</tbody>
				<tfoot></tfoot>
			</table>

			<br/><br/>
			{{'Note'|i18n}}:
			<ul>
				<li><i>{{'Normally remote assistance request is timeout in a few minutes to hours, according to your system setting'|i18n}}.</i></li>
				<li><i>{{'Remote assistance request history will be kept for some time and deleted automatically'|i18n}}.</i></li>
			</ul>
				
				
			<p>
			{{'To setup the entire environment, refer to'|i18n}} <a href="./static/ra/help.html" target="_blank">{{'Setup Guide'|i18n}}</a>.<br/>
			</p>
		  </div>
		  <div id="shadowra">
			  <div ng-controller="activeDesktopCtrl">
			  	<div class="userSearchCriteria">
					<table  class="noborder">
						<tbody>
							<tr>
								<td>{{'Filter by VM or User'|i18n}}</td>
	
								<td>
									<div id="loadingGif">&nbsp;&nbsp;&nbsp;&nbsp;</div> <input
									id="searchSessionInput" type="text" name="filterName" size="30"
									placeholder="Results limited to top 100" class="searchBoxWebkit" ng-model="key"
									style="color: rgb(175, 175, 175);" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
			
				<table class='lite_table'>
					<thead><tr><th>{{'User'|i18n}}</th><th>{{'Machine Name'|i18n}}</th><th>{{'Desktop pool'|i18n}}</th><th>{{'Type'|i18n}}</th><th>{{'Action'|i18n}}</th></tr></thead>
					<tbody id='session_table'>
						<tr><td class='loading_place_holder' colspan="10"></td></tr>
					</tbody>
					<tfoot></tfoot>
				</table>
				
				<br/><br/>
				{{'Note'|i18n}}:
				<ul>
					<li><i>{{'To setup the entire environment or troubleshoot, refer to'|i18n}} <a href="./static/ra/help.html" target="_blank">{{'Setup Guide'|i18n}}</a>.</i></li>
					<li><i>{{'RDS desktop is not supported for admin initiated remote assistance feature. End-user needs issue the remote assistance request on RDS desktop.'|i18n}}</i></li>
				</ul>
		  </div>
		  
		  <div id="unsolicitedrahist">			
				<table class='lite_table'>
					<thead><tr><th>{{'User'|i18n}}</th><th>{{'Machine Name'|i18n}}</th><th>{{'Desktop pool'|i18n}}</th><th>{{'Start Time'|i18n}}</th><th>{{'expert'|i18n}}</th><th>{{'Result'|i18n}}</th></tr></thead>
					<tbody id='rahist_table'>
						<tr><td class='loading_place_holder' colspan="10"></td></tr>
					</tbody>
					<tfoot></tfoot>
				</table>
				<br/><br/>
				{{'Note'|i18n}}:
				<ul>
					<li><i>{{'The maximum number of history records is 200 for admin initiated remote assistance'|i18n}}.</i></li>
				</ul>
		  </div>
		</div>
		
		<div id="radialog" title="Remote Assist">
			<div id="shadowmsg">
		  		<p id="shadowInfo">{{'Try to communicate with remote desktop, please wait a moment.'|i18n}}</p>
		 	</div>
		  	<div id="raprogressbar"></div>
		</div>
		
		  
		<script src="./js/remoteassist.js"></script>

	</div>

</body>
</html>