<html>
<head>
<title>View SnapShot Report</title>

</head>
<body>

	<div id="session" th:fragment="fragment">
		
		<h3 class="pageHeader">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
							<div class="pageHeaderDiv">
								l <img src="img/window_information.png" alt="Dashboard" />&nbsp;&nbsp;Session
								Audit Report &nbsp; 
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</h3>
		
		<div>
				
				<svg width="500" height="400">
					<g id="versiondata"></g>
				</svg>
				
	  </div>
			
			
		<h3 class="pageHeader">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
							<div class="pageHeaderDiv">
								l <img src="img/window_information.png" alt="Dashboard" />&nbsp;&nbsp;Current Sessions
								 &nbsp; <span class = "updateDate"> </span> <a href="./refreshSession">
									Click here to update this report now</a>
							</div>
						</td>
						<td id="loadingAnim"></td>
					</tr>
				</tbody>
			</table>
		</h3>
		<div class="poolContainer">
			<h2>Desktop Sessions:</h2>
			<table border="0" cellpadding="3" cellspacing="0" class="poolSessionTable"
				id="poolSessionTable">
				<tbody>
					<tr>

						<th width="23%">Pool Name</th>
						<th width="23%">Pool Type</th>
						<th width="20%">Session Number</th>


					</tr>

					<tr class="loadingrow">
						<td class="desktopName " ></td>
						<td class="desktopName " ></td>
						<td class="desktopName">
						</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="poolContainer">
			<h2>Application Sessions:</h2>
			<table border="0" cellpadding="3" cellspacing="0" class="farmSessionTable"
				id="farmSessionTable">
				<tbody>
					<tr>

						<th width="23%">Farm Name</th>
						<th width="20%">Session Number</th>
					</tr>

					<tr class="loadingrow" >
						<td class="desktopName " ></td>

						<td class="desktopName ">
						</td>
					</tr>

				</tbody>
			</table>

		</div>
		<script src="./js/d3.js"></script>
	<script src="./js/sessions.js"></script>
	</div>

</body>
</html>