<html>
<head>
<title>View SnapShot Report</title>
</head>
<body>
	<div id="session" th:fragment="fragment">
		<h3 class="pageHeader">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
							<div class="pageHeaderDiv">
								<img src="img/window_information.png" alt="Dashboard" />&nbsp;&nbsp;{{'Session Audit Report'|i18n}} &nbsp;
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</h3>

		<div id="historySessions" class="poolContainer">
			<label for="viewType">{{'Concurrent sessions, show report for'|i18n}}: </label>
			<select name="viewType" id="viewType">
				<option value="day">{{'Last 2 day'|i18n}}</option>
				<option value="week" selected="selected">{{'Last 7 days'|i18n}}</option>
				<option value="month">{{'Last 1 month'|i18n}}</option>
				<!--add by wx 9-23 -->
				<option value="halfyear">{{'Last 6 months'|i18n}}</option>
			</select>
			<label for="desktoppool">{{'Select desktop pool or RDS farm'|i18n}}: </label>
			
			<select id="desktoppool" name="desktoppool">
				<option value="all" selected="selected">{{'ALL'|i18n}}</option>
			</select>
			<div>
				<svg>
			</svg>
			</div>

			<div class="loadingdiv">Loading</div>
		</div>


		<h3 class="pageHeader">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td>
								<div class="pageHeaderDiv">
									<img src="img/window_information.png" alt="Dashboard" />&nbsp;&nbsp;{{'Current Sessions'|i18n}} &nbsp; <span class="updateDate"> </span> <a
										href="./refreshSession"> {{'Click here to update this report now'|i18n}}</a>
								</div>
							</td>
							<td id="loadingAnim"></td>
						</tr>
					</tbody>
				</table>
			</h3>
			
			
		<div class="poolContainer"  ng-controller="sessionCtrl">
			
			<label>{{'Desktop Sessions'|i18n}}:</label>
			<table ng-table="desktopParams" class="dataTable">
				<tr ng-repeat="pool in $data">
					<td  data-title="messages['Pool Name']" >{{pool.name}}</td>
					<td  data-title="messages['Pool Type']" >{{pool.viewType}}</td>
					<td  data-title="messages['Session Number']">{{pool.sessionCount}}</td>
				</tr>
				<tr class="loadingrow">
					<td class="desktopName "></td>
					<td class="desktopName "></td>
					<td class="desktopName "></td>
				</tr>
			</table>
			<br></br> <br></br>
			<label>{{'Application Sessions'|i18n}}:</label>
			<table ng-table="appParams" class="dataTable">
				<tr ng-repeat="farm in $data">
					<td data-title="messages['Farm Name']">{{farm.name}}</td>
					<td data-title="messages['Session Number']">{{farm.appSessionCount}}</td>
				</tr>
				<tr class="loadingrow">
					<td class="desktopName "></td>
					<td class="desktopName "></td>
				</tr>
			</table>
		</div>
		<script src="./js/d3.min.js" type="text/javascript"></script>
		<script src="./js/sessions.js" type="text/javascript"></script>
	</div>

</body>
</html>

