<html >
<head>
<title>Horizon Toolbox</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="./resources/icons/favicon.ico" />
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="./css/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="./css/report.css" />
<script type="text/javascript" charset="utf-8" th:src="@{${translatedJsonURL}}"></script>
<script type="text/javascript" charset="utf-8"	src="./js/jquery.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    window.view = [[${view}]];

/*]]>*/
</script>

<script type="text/javascript" charset="utf-8"
	src="./js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8"
	src="./js/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/angular.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/angular.ng-modules.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/toolset.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/localize-service.js"></script>


</head>

<body ng-modules="main,localization">

	<div id="container">
		<div id="banner">
			<div id="productName">VMware Horizon Toolbox</div>

			<div id="topMenu">

				<ul class="jd_menu">
				
					<li id="L1_01" class="menuBtn"><a href="session">{{'Auditing'|i18n}}</a>
						<ul class="jdm_events"
							style="left: 560.265625px; top: 47px; display: none;">
							<li id="L1_01_01" class=""><a href="session">&nbsp;&nbsp;{{'Sessions'|i18n}}</a></li>
							<li id="L1_01_02" class=""><a href="usage">&nbsp;&nbsp;{{'Users Usage'|i18n}}</a></li>
							<li id="L1_01_03" class=""><a href="snapshot">&nbsp;&nbsp;{{'Snapshots'|i18n}}</a></li>
							<li id="L1_01_04" class=""><a href="client">&nbsp;&nbsp;{{'Clients'|i18n}}</a></li>
						</ul></li>

					<li id="L1_02" class="menuBtn" ><a
						href="remoteassist">{{'Remote Assistance'|i18n}}</a></li>
						
						  
					<li id="L1_04" class="menuBtn" ><a
						href="console">{{'Console Access'|i18n}}</a></li>
						
						
					<li id="L1_03" class="menuBtn"><a href="power">{{'Management'|i18n}}</a>
						<ul class="jdm_events"
							style="display: none; top: 47px">
							<li id="L1_03_01" class=""><a href="power">&nbsp;&nbsp;{{'Power Policies'|i18n}}</a></li>
							<li id="L1_03_02" class=""><a href="devicefilter">&nbsp;&nbsp;{{'Device Access Polices'|i18n}}</a></li>

						</ul>
					</li>
 						
						
				</ul>

			</div>

			<div class="loggedInUser">

				<span class="user" th:text="${user}"></span> &nbsp;|&nbsp; <a
					href="Logout">{{'Logout'|i18n}}</a>&nbsp;|&nbsp; 
					<a href="#" id="about">{{'About'|i18n}}</a>
			</div>

		</div>
        	
        	<div id="aboutdialog" title="about">
        	<div style="height: atuo;width:300px;" class="ui-dialog-content ui-widget-content" name="version">
      <p></p> </div>   
        	<div style="height: auto; width: 300px;" class="ui-dialog-content ui-widget-content" name="version1">
      <p></p> </div>   
             <div style="height: atuo;width:300px;" class="ui-dialog-content ui-widget-content" name="version2">
      <p></p></div>   
        	</div>
        		
		<div id="content">
			<noscript>&lt;p&gt;You should enable your
				javascript&lt;/p&gt;</noscript>
			<div id="windowShadeData"></div>


			<div class="frag" th:include=" ${view} :: fragment"></div>

		</div>
		<div id="footer">


			<span style="float: right;"> <a href="#" id="animOff"
				onclick="commonjs.animaitonOff();return false;"
				title="Turn animation off" alt="Animation off">Off</a> <a href="#"
				id="animOn" onclick="commonjs.animaitonOn();return false;"
				title="Turn animation on" alt="Animation on" style="display: none;">On</a>
			</span> <span id="copyright"> VMware Horizon&nbsp; <span
				class="spaceFooter"> 2007-2015 VMware, Inc. All rights
					reserverd &nbsp; </span>
			</span>

		</div>
	</div>

</body>
</html>