<html>
<head>
<title>View User Usage Report</title>
</head>
<body>
	<div id="event" th:fragment="fragment">
		<h3 class="pageHeader">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
							<div class="pageHeaderDiv">
								<img src="img/window_information.png" alt="Dashboard" />&nbsp;&nbsp;{{'Accumulated Using Time of Users'|i18n}} &nbsp;
							</div>
						</td>
						<td id="loadingAnim"></td>
					</tr>
				</tbody>
			</table>
		</h3>
		<div id="accumulatedUsing" class="poolContainer">
			<label for="usageDays">{{'Accumulated Using Time. Show report for'|i18n}}: </label> <select name="usageDays" id="usageDays">
				<option value="day">{{'Last 2 day'|i18n}}</option>
				<option value="week" selected="selected">{{'Last 7 days'|i18n}}</option>
				<option value="month">{{'Last 1 month'|i18n}}</option>
				<!--add by wx 9-23 -->
				<option value="halfyear">{{'Last 6 months'|i18n}}</option>
			</select>
			<div>
				<svg>
				</svg>
			</div>
			<div id="loading1" class="loadingdiv">Loading</div>
		</div>
					
		<h3 class="pageHeader">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td>
								<div class="pageHeaderDiv">
									<img src="img/window_information.png" alt="Dashboard" />&nbsp;&nbsp;
									{{'Connections of Users'|i18n}} &nbsp;<span class="updateDate"> </span> 
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</h3>
			
		<div class="poolContainer" ng-controller="usageCtrl"
			style="width: 100%; height: 90%; overflow: scroll; overflow-x: hidden;">

			<label>{{'Account Name'|i18n}}: </label> <input type="text"
				id="user" name="user" value="" /> 
				<button ng-click="reloadData()" class="btn btn-default">{{'Search'|i18n}}</button>
			&nbsp;&nbsp; <label>{{'Show report for'|i18n}}: </label>
			<select ng-model="days">
				<option value="2">{{'Last 2 days'|i18n}}</option>
				<option value="7" selected="selected">{{'Last 7 days'|i18n}}</option>
				<option value="30">{{'Last 1 month'|i18n}}</option>
				<!--add by wx 9-23 -->
				<option value="180">{{'Last 6 months'|i18n}}</option>
			</select>
			  &nbsp;&nbsp; <a type="button" class="btn btn-default" id="exportBtn">{{'Export as .csv file'|i18n}}</a>
			<table id="connectionTable" ng-table="tableParams" class="dataTable">
				<tr ng-repeat="user in $data">
					<td data-title="useagetable['UserName']">{{user.userName}}</td>
					<td data-title="useagetable['Connection Time']">{{user.connectionTimeStr}}</td>
					<td  data-title="useagetable['Disconnection Time']">{{user.disConnectionTimeStr}}</td>
					<td data-title="useagetable['Usage Time']">{{user.usageTime}}</td>
					<td data-title="useagetable['Machine Name']">{{user.machineName}}</td>
					<td data-title="useagetable['Pool/Farm Name']">{{user.sourceName}}</td>
					<td data-title="useagetable['Login Delay Time']">{{connection.loginDelayTime}}</td>
				</tr>
				<tr id="loading2" class="loadingrow">
						<td class="desktopName " ></td>
						<td class="desktopName " ></td>
						<td class="desktopName " ></td>
						<td class="desktopName " ></td>
						<td class="desktopName " ></td>
						<td class="desktopName " ></td>
						<td class="desktopName " ></td>
				</tr>
			</table>
		</div>
		<script src="./js/d3.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="./js/usage.js"></script>
	</div>
</body>
</html>