<html>
<head>
<title>Device Access Policies</title>
</head>
<body>

	<div id="policy" th:fragment="fragment">

		<h3 class="pageHeader">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
							<div class="pageHeaderDiv">
								<img src="img/window_information.png" alt="Dashboard" />&nbsp;&nbsp;Device Access Policies
								 &nbsp; <span class = "updateDate"> </span> 
							</div>
						</td>
						
					</tr>
				</tbody>
			</table>
		</h3>

	

	</div>

</body>
</html>